body {
}






#bg {
    
    width: 100%;
    position: fixed;
    margin-top: 0%;
}

.contab {
    position: relative;
    width: 100%;
}

.conrow {
    position: relative;
    
    margin-top: 2%;
    margin-left: 2%;
    
    width: 100%;
    
   
}

.concol {
    width: 100%;
    
}

#hadtl {
    color: aliceblue;
    margin-top: 1%;
    margin-left: 2%;
    font-size:50px;
}



.tblew {
    background-color: rgba(0,0,0,0.6);
    border: 1px solid rgba(0,0,0,0.6);
    color: white;
    width: 90%;
}



.contab2 {
    
}

.conrow2 {
    position: relative;
    display: flex;
    
    
}

.concol2 {
    position: relative;
    margin: 1%;
    border: 3px solid rebeccapurple;
}




